body {
    background-color: rgb(27, 145, 163);
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    color: rgb(36, 39, 31);
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Paragraph Styles */
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}

/* Link Styles */
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffd700;
}

/* Container Styles */
.container {
    width: 500px;
    padding: 25px;
    background-color: #525151;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Image Styles */
img {
    width: 100%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* ID Selector */
#math-title {
    color: rgb(6, 99, 6);
}

/* Class Selector */
.center {
    text-align: center;
}

/* Tag Selector */
h1 {
    font-size: 2em;
}
